h1{
    text-align: center;
    color: #2568FB;
}

body{
    background-color: #FECD45;
    
}

p{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: justify;
    text-indent: 15pt;
}

#kep1{
    width: 50%;
    margin: auto;
    display: block;
    border-radius: 1cm;
}

#centercucc{
    text-align: center;
}
#nagy{
    color: #F92C85;
    font-size: 30px;
}

li{
    color: blue;
}

p:hover{
    font-size: 95%;
    border-style: groove;
    border-color: #F92C85;
    border-radius: 0.5cm;
    background-color: white;
}

#kep2{
    margin: auto;
    display: block;
    border-radius: 1cm;
}

h2{
    text-align: center;
    font-size: 200%;
    color: #EA445A; 
}